@import 'reset.less';

@c-grayHeader:#f1f1f1;
@c-turquoise:#3bb4be;
@c-darkturquoise:#3bb4be;

@s-contentWidth:1200px;


@font-face {
    font-family: 'Laffayette';
    src: url('../fonts/Laffayette_Comic_Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Pintass';
    src: url('../fonts/PintassilgoPrints_DaftBrush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

body {
  background: #fff;
  font-family: "Laffayette", Helvetica, Arial, sans-serif;
  color: #333;
  margin:0;
  padding:0;
}

top-menu {
    display:block;
    width:100%;
    height:210px;
    background:@c-grayHeader;
    border-bottom:2px solid #808080;     
}
